h1{
    text-align: center;
    color: blue;
}
/*user pure css for premade css templates*/

.main{
    padding-left: 100px;
    padding-right: 100px;
    text-align: left;
    border: 10px red;
    color: aqua;
}